<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../assets/style.css">
    <title>Spicy Problems of the Week</title>
    <script>
        window.setTimeout(function () {
            // window.location = window.location;
        }, 5000)
    </script>
    <script type="text/x-mathjax-config">
        MathJax.Hub.Config( { tex2jax: { inlineMath: [ ['$','$'], ['\\(','\\)'] ] } });
    </script>
    <script type="text/javascript" async src="path-to-mathjax/MathJax.js?config=TeX-AMS_CHTML"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.2/MathJax.js?config=TeX-MML-AM_CHTML'></script>
</head>

<body>
    <div id="header">
        <h1>(Change this!) Week X</h1>
        <h5>Solutions due by -----------</h5>
    </div>
    <ol>
        <li class="question">
            <img class="pepper" src="..\assets\pepper.png" alt="" />
            <div>
                <table>
                    <tr>
                        <td>
                            Here is a weird island:
                            <br><br> How many frogs are on the island?
                            <br> How many frogs are in the water?
                        </td>
                        <td>
                            <center>
                                <img src="island.png" alt=""></img>
                            </center>
                        </td>
                    </tr>
                </table>

            </div>
        </li>
        <li class="question">
            <img class="pepper" src="..\assets\pepper.png" alt="" />
            <img class="pepper" src="..\assets\pepper.png" alt="" />
            <div>
                Find the value of $$ 1000 - 999 + 998 - 997 + {...} + 4 - 3 + 2 -1 $$
                <p> ( $ ... $ means 'and so on'. The addition/subtraction patttern continues from $1000$ down to $1$.)</p>
            </div>
        </li>
        <li class="question">
            <img class="pepper" src="..\assets\pepper.png" alt="" />
            <img class="pepper" src="..\assets\pepper.png" alt="" />
            <div>
                <table>
                    <tr>
                        <td>
                            <p>
                                Magic trees grow in a magic gardin.
                            </p>
                            <p>
                                Each tree contains either $6$ pears and $3$ apples, or $8$ pears and $4$ apples.
                            </p>
                            <p>
                                There are $25$ apples in the gardin. How many pears are there in the gardin?
                            </p>
                        </td>
                        <td>
                            <img src="trees.png" alt="">
                        </td>
                    </tr>
                </table>
            </div>

        </li>
        <li class="question">
            <img class="pepper" src="..\assets\pepper.png" alt="" />
            <img class="pepper" src="..\assets\pepper.png" alt="" />
            <img class="pepper" src="..\assets\pepper.png" alt="" />
            <div>
                The product of two whole numbers is $3003$. Their sum is $116$. Find the two numbers.
            </div>
        </li>
        <li class="question">
            <img src="..\assets\pepper.png" alt="" class="pepper" />
            <img src="..\assets\pepper.png" alt="" class="pepper" />
            <img src="..\assets\pepper.png" alt="" class="pepper" />
            <div>
                Ten Yellowknife principals have a meeting. Before things get started, each principal shakes hands with every other principal
                at the meeting. How many handshakes are there?
            </div>
        </li>
    </ol>

</body>

</html>