<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../assets/style.css">
    <title>Spicy Problems of the Week</title>
    <script>
        window.setTimeout(function () {
            window.location = window.location;
        }, 1000)
    </script>
</head>

<body>
    <div id="header">

    </div>
    <ol>
        <li class="question">
            <img class="pepper medium" src="..\assets\pepper.png" alt="" />
            <div>
                The first question.
            </div>
        </li>
        <li class="question hot">
            <img class="pepper hot" src="..\assets\pepper.png" alt="" />
            <img class="pepper hot" src="..\assets\pepper.png" alt="" /> This is the 2nd
        </li>
        <li class="question">
            <img src="..\assets\pepper.png" alt="" class="pepper" />
            <img src="..\assets\pepper.png" alt="" class="pepper" />
            <img src="..\assets\pepper.png" alt="" class="pepper" /> The third
        </li>
        <li class="question">
            <div class="spicy">
                <img src="..\assets\pepper.png" alt="" class="pepper spicy" />
                <img src="..\assets\pepper.png" alt="" class="pepper spicy" />
                <img src="..\assets\pepper.png" alt="" class="pepper spicy" />
            </div>
            <span>
                the 4th
            </span>
        </li>
        <li class="question">
            The 5th
        </li>
    </ol>

</body>

</html>